.gradle/
.gradle-local/
.kotlin/
build/
app/build/
.idea/
*.iml
local.properties
keystore.properties
*.keystore
*.jks
/captures
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log
*.hprof
